* {
    margin: 0;
    padding: 0;
  }

#main{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("./bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
div h1{
    font-size: 100px;
}
